.aroot {
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
}

.inputBox {
    text-align: center;
    padding: 16px;
}

.input {
    width: 300px;
    height: 30px;
    border-radius: 22px;
    border: #c5c3c3 1px solid;
    padding-left: 16px;
    outline: none;
}

.addBtn {
    height: 30px;
    margin-left: 16px;
    border: none;
    background-color: indianred;
    color: white;
}
