div.root {
  height: 100vh;
  width: 100vw;
}

header {
  background-color: cadetblue;
  height: 20%;
}

nav {
  background-color: gold;
  height: 10%;
}

.div1 {
  display: flex;
  height: 50%;
}

section {
  flex: 4;
  background-color: cornflowerblue;
}

aside {
  flex: 1;
  background-color: darkorange;
}

footer {
  background-color: deepskyblue;
  height: 20%;
}