.root {
    box-shadow: 0px 0px 3px gray;
    width: 500px;
    padding: 16px;
    position: relative;
    margin: 16px auto;
}

.title {
    color: rgb(99, 99, 99);
    text-align: center;
}

.change {
    margin-top: -5px;
    height: 30px;
    margin-left: 16px;
    border: 1px indianred solid;
    background-color: white;
    color: indianred;
    position: absolute;
    right: 70px;
}

.remove {
    margin-top: -5px;
    height: 30px;
    border: 1px indianred solid;
    background-color: white;
    color: indianred;
    position: absolute;
    right: 20px;
}